* { 
   padding: 0px;
   box-sizing: border-box;
}
body {font-family: roboto;
      background-color: #ebebeb;
      margin: 0px;
      
}

header{
      background-color: #EAC926;
      padding:15px;
      
}

.nav-list{
      text-align: left;
}

.nav-link-list{
      list-style-type: none;
}

.burger-center{
      text-align: center;
      
}
.burger-menu{
      background-color:  #03264C;
      color: white;
      border-radius: 5px;
      padding: 5px;
      

      
}

.centro{text-align: center;}

main{
      width: 90%;
      border: solid 1px #ebebeb;
      background-color:#ebebeb;
      margin-left: auto;
      margin-right: auto;
      

      
}


h1 {font-size: 24px;}

.precio {font-size: 18px;}

.descuento {font-size: 16px;
            color:#39b54a ;
}


h3 {font-size: 16px;}

p {font-size: 12px}

footer {
      text-align: center;
      padding: 10%;
      background-color: white;
      border: solid 2px #ebebeb;
     
}

.iconos{
       color:#03264C;
       font-size: 2em;
       margin-bottom: 10px;
       

}

h4{
      height: 0px;
      
}

.copy{
      padding-top: 20px;
}
      